.root{
	-fx-background:#333333;
}
.label {
	-fx-font-size:14px;
	-fx-text-fill:#FFFFFF;
	-fx-font-family:"Garamond";
}
.kw {
	-fx-font-size:15px;
	-fx-text-fill:#FFFFFF;
	-fx-font-family:"Garamond";
	-fox-font-weight:bold;
}

.title{
	-fx-font-size:25px;
	-fx-text-fill:#FFFFFF;
	-fx-font-family:"Garamond";
	-fox-font-weight:bold;
}
.success{
	-fx-font-size:15px;
	-fx-text-fill:green;
	-fx-font-family:"Helvetica";
	-fox-font-weight:bold;
}
.warning{
	-fx-font-size:15px;
	-fx-text-fill:red;
	-fx-font-family:"Helvetica";
	-fox-font-weight:bold;
}
.list{
	-fx-font-size:15px;
	-fx-text-fill:black;
	-fx-font-family:"Helvetica";
	-fox-font-weight:bold;
}
.textfield {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.menubutton {
	-fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.notificationsbutton {
	-fx-text-fill:white;
	-fx-text-family:"Verdana";
	-fx-font-weight:bold;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.notificationsbutton:pressed, .notificationsbutton:default:hover:pressed {
	-fx-background-color: linear-gradient(#555555, #2A5058);
	-fx-text-fill:"silver";
}

.menubutton:pressed, .menubutton:default:hover:pressed {
	-fx-background-color: linear-gradient(#555555, #2A5058);
	-fx-text-fill:"silver";
}

.delete{
	-fx-background-color:#BB0000;
	-fx-text-fill:white;
	-fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.6),5,0.0,0,1);
}
.delete:pressed, .delete:default:hover:pressed {
	-fx-background-color: #990000;
	-fx-text-fill:"silver";
}